.container-fluid{
    padding: 0;
    background-color: #FDFDFD;
}

/* Template_nav */
.navbar{
    margin-left: 5%;
    margin-right: 5%;
}

.navbar-light .navbar-nav .nav-link{
    font-family: 'Inria Sans', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 1rem;
    padding-left: 20px;
    padding-right: 20px;
}

.navbar button{
    font-size: 1.2rem;
}

/* Home */
h1{
    font-family: 'Lato', sans-serif;
    font-size: 2.1rem;
    max-width: 390px;
}

main{
    text-align: center;
    margin-top: 7%;
}

